#html{
    margin-top: 150pt;
}
#body{
    background-image: url("../img/login.jpeg");
    background-size: cover;
    background-attachment: fixed;
}
#error{
    margin-top: 40pt;
    max-width: 600pt;
}
#errordesc{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 20pt;
    text-wrap: normal;
    border: 2px solid #4caf50;
    text-align: center;
}