#body{
    background-image: url("../img/login.jpeg");
    background-size: cover;
    background-attachment: fixed;
}
#posts{
    margin-top: 40pt;
    max-width: 600pt;
}
#post{
    color: #1d2124;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(166,165,165,0.86);
    border-radius: 5px;
    border-width: 3px;
    padding: 20pt;
    text-wrap: normal;
}
#header{
    margin-top: 200pt;
    max-width: 800pt;
    margin: auto;
    background-color: #80bdff;
    padding: 5pt;
    border-radius: 5px;
}
#id{
    text-align: right;
}